@{
    Layout = null;
}

@using StackExchange.Profiling
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/tree")
    @Styles.Render("~/Content/css/easyui")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div >
        <div class="panel panel-default" >
            <div class="panel-body col-lg-pull-1" style="width: 20%; float: left; min-height: 750px;">
                <div style="float: left; width: 95%;"><ul id="tree" class="ztree" style="overflow: auto;"></ul>
                </div>
                <div style="float: right; width: 5px; background-color: red; height: 100%;">&nbsp;</div>
            </div>
            <div style="float: left; width: 80%; height: 30px;">&nbsp;</div>
            <div style="float: left; width: 80%; " id="mainPanle">
                <div id="tabs" id="tabs" class="easyui-tabs" fit="true" border="false" style="overflow: no-display; height: auto; min-height: 750px;">
                </div>

            </div>
        </div>
        <div style="clear: both;"></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/easyui")
    @Scripts.Render("~/bundles/tree")

    <script type="text/javascript">
  <!--
	var zTree;
	var demoIframe;

	var setting = {
		view: {
			dblClickExpand: false,
			showLine: true,
			selectedMulti: false
		},
		data: {
			simpleData: {
				enable:true,
				idKey: "id",
				pIdKey: "pId",
				rootPId: ""
			}
		},
		callback: {
			beforeClick: function(treeId, treeNode) {
				var zTree = $.fn.zTree.getZTreeObj("tree");
				if (treeNode.isParent) {
					zTree.expandNode(treeNode);
					return false;
				} else {
					demoIframe.attr("src",treeNode.file + ".html");
					return true;
				}
			},
			onClick: treeClick
		}
	};

	var zNodes =[
		{id:1, pId:0, name:"[core] 基本功能 演示", open:true},
		{ id: 101, pId: 1, name: "最简单的树1", file: "/Home/About" },
		{id:102, pId:1, name:"最简单的树2", file:"http://www.163.com"},
		{id:103, pId:1, name:"不显示 连接线", file:"core/noline"},
		{id:104, pId:1, name:"不显示 节点 图标", file:"core/noicon"},
		{id:105, pId:1, name:"自定义图标 --  icon 属性", file:"core/custom_icon"},
		{id:106, pId:1, name:"自定义图标 --  iconSkin 属性", file:"core/custom_iconSkin"},
		{id:107, pId:1, name:"自定义字体", file:"core/custom_font"},
		{id:115, pId:1, name:"超链接演示", file:"core/url"},
		{id:108, pId:1, name:"异步加载 节点数据", file:"core/async"},
		{id:109, pId:1, name:"用 zTree 方法 异步加载 节点数据", file:"core/async_fun"},
		{id:110, pId:1, name:"用 zTree 方法 更新 节点数据", file:"core/update_fun"},
		{id:111, pId:1, name:"单击 节点 控制", file:"core/click"},
		{id:112, pId:1, name:"展开 / 折叠 父节点 控制", file:"core/expand"},
		{id:113, pId:1, name:"根据 参数 查找 节点", file:"core/searchNodes"},
		{id:114, pId:1, name:"其他 鼠标 事件监听", file:"core/otherMouse"},

		{id:2, pId:0, name:"[excheck] 复/单选框功能 演示", open:false},
		{id:201, pId:2, name:"Checkbox 勾选操作", file:"excheck/checkbox"},
		{id:206, pId:2, name:"Checkbox nocheck 演示", file:"excheck/checkbox_nocheck"},
		{id:207, pId:2, name:"Checkbox chkDisabled 演示", file:"excheck/checkbox_chkDisabled"},
		{id:208, pId:2, name:"Checkbox halfCheck 演示", file:"excheck/checkbox_halfCheck"},
		{id:202, pId:2, name:"Checkbox 勾选统计", file:"excheck/checkbox_count"},
		{id:203, pId:2, name:"用 zTree 方法 勾选 Checkbox", file:"excheck/checkbox_fun"},
		{id:204, pId:2, name:"Radio 勾选操作", file:"excheck/radio"},
		{id:209, pId:2, name:"Radio nocheck 演示", file:"excheck/radio_nocheck"},
		{id:210, pId:2, name:"Radio chkDisabled 演示", file:"excheck/radio_chkDisabled"},
		{id:211, pId:2, name:"Radio halfCheck 演示", file:"excheck/radio_halfCheck"},
		{id:205, pId:2, name:"用 zTree 方法 勾选 Radio", file:"excheck/radio_fun"},

		{id:3, pId:0, name:"[exedit] 编辑功能 演示", open:false},
		{id:301, pId:3, name:"拖拽 节点 基本控制", file:"exedit/drag"},
		{id:302, pId:3, name:"拖拽 节点 高级控制", file:"exedit/drag_super"},
		{id:303, pId:3, name:"用 zTree 方法 移动 / 复制 节点", file:"exedit/drag_fun"},
		{id:304, pId:3, name:"基本 增 / 删 / 改 节点", file:"exedit/edit"},
		{id:305, pId:3, name:"高级 增 / 删 / 改 节点", file:"exedit/edit_super"},
		{id:306, pId:3, name:"用 zTree 方法 增 / 删 / 改 节点", file:"exedit/edit_fun"},
		{id:307, pId:3, name:"异步加载 & 编辑功能 共存", file:"exedit/async_edit"},
		{id:308, pId:3, name:"多棵树之间 的 数据交互", file:"exedit/multiTree"},

		{id:4, pId:0, name:"大数据量 演示", open:false},
		{id:401, pId:4, name:"一次性加载大数据量", file:"bigdata/common"},
		{id:402, pId:4, name:"分批异步加载大数据量", file:"bigdata/diy_async"},
		{id:403, pId:4, name:"分批异步加载大数据量", file:"bigdata/page"},

		{id:5, pId:0, name:"组合功能 演示", open:false},
		{id:501, pId:5, name:"冻结根节点", file:"super/oneroot"},
		{id:502, pId:5, name:"单击展开/折叠节点", file:"super/oneclick"},
		{id:503, pId:5, name:"保持展开单一路径", file:"super/singlepath"},
		{id:504, pId:5, name:"添加 自定义控件", file:"super/diydom"},
		{id:505, pId:5, name:"checkbox / radio 共存", file:"super/checkbox_radio"},
		{id:506, pId:5, name:"左侧菜单", file:"super/left_menu"},
		{id:513, pId:5, name:"OutLook 风格", file:"super/left_menuForOutLook"},
		{id:515, pId:5, name:"Awesome 风格", file:"super/awesome"},
		{id:514, pId:5, name:"Metro 风格", file:"super/metro"},
		{id:507, pId:5, name:"下拉菜单", file:"super/select_menu"},
		{id:509, pId:5, name:"带 checkbox 的多选下拉菜单", file:"super/select_menu_checkbox"},
		{id:510, pId:5, name:"带 radio 的单选下拉菜单", file:"super/select_menu_radio"},
		{id:508, pId:5, name:"右键菜单 的 实现", file:"super/rightClickMenu"},
		{id:511, pId:5, name:"与其他 DOM 拖拽互动", file:"super/dragWithOther"},
		{id:512, pId:5, name:"异步加载模式下全部展开", file:"super/asyncForAll"},

		{id:6, pId:0, name:"其他扩展功能 演示", open:false},
		{id:601, pId:6, name:"隐藏普通节点", file:"exhide/common"},
		{id:602, pId:6, name:"配合 checkbox 的隐藏", file:"exhide/checkbox"},
		{id:603, pId:6, name:"配合 radio 的隐藏", file:"exhide/radio"}
	];


	$(document).ready(function(){
		
	    $.ajax({
	        type:"POST",
	        url:'@Url.Action("LoadMenu","Home")',
	        dataType : "json",
	        success:function(data){
	            // 如果返回数据不为空，加载"业务模块"目录
	            alert(data);
	            if(data != null){
	                // 将返回的数据赋给zTree
	                $.fn.zTree.init($("#tree"), setting, data);
	                var zTree = $.fn.zTree.getZTreeObj("tree");
	                zTree.selectNode(zTree.getNodeByParam("id", 101));
	            }
	        }
	    });

	});

        //添加标签页
	function treeClick(event, treeId, treeNode) {
	    var subtitle = treeNode.name;
	    var url = treeNode.file;
	    if (!$('#tabs').tabs('exists', subtitle)) {
	        $('#tabs').tabs('add', {
	            title: subtitle,
	            content: createFrame(url),
                //href:url,
	            closable: true,
                overflow: 'no',
	            width: $('#mainPanle').width() - 10,
	            height: $('#mainPanle').height() + 26
	        });
	    } else {
	        $('#tabs').tabs('select', subtitle);
	    }
	    tabClose();
	}
	function createFrame(url) {
	    var s = '<iframe name="mainFrame" scrolling="no" frameborder="0"  src="' + url + '" style="width:100%;height:100%;" onLoad="iFrameHeight(this);"></iframe>';
	    return s;
	}
	function iFrameHeight(ifm) {
	    var fheight = 800;
	    var cwin = ifm;
	    if (cwin && document.getElementById) {
	        try {
	            if (cwin.contentDocument && cwin.contentDocument.body.offsetHeight) {
	                fheight = cwin.contentDocument.body.offsetHeight; //FF NS
	                cwin.height = fheight;
	                $('#tabs').height(fheight).resize();
	            }

	            else if (cwin.Document && cwin.Document.body.scrollHeight) {
	                fheight = cwin.Document.body.scrollHeight; //IE
	                cwin.height = fheight;
	                $('#tabs').height(fheight).resize();
	            }
	                 
	        } catch (e) {
	            try {
	                if (cwin.contentWindow.document && cwin.contentWindow.document.body.scrollHeight) {
	                    fheight = cwin.contentWindow.document.body.scrollHeight;//Opera
	                    cwin.height = fheight;
	                    $('#tabs').height(fheight).resize();
	                }
	            }catch (e){}
	        }
	    }
	    

	}

	function tabClose() {
	    /*双击关闭TAB选项卡*/
	    $(".tabs-inner").dblclick(function () {
	        var subtitle = $(this).children("span").text();
	        $('#tabs').tabs('close', subtitle);
	    })

	    $(".tabs-inner").bind('contextmenu', function (e) {
	        $('#mm').menu('show', {
	            left: e.pageX,
	            top: e.pageY,
	        });

	        var subtitle = $(this).children("span").text();
	        $('#mm').data("currtab", subtitle);

	        return false;
	    });
	}
	//绑定右键菜单事件
	function tabCloseEven() {
	    //关闭当前
	    $('#mm-tabclose').click(function () {
	        var currtab_title = $('#mm').data("currtab");
	        $('#tabs').tabs('close', currtab_title);
	    })
	    //全部关闭
	    $('#mm-tabcloseall').click(function () {
	        $('.tabs-inner span').each(function (i, n) {
	            var t = $(n).text();
	            $('#tabs').tabs('close', t);
	        });
	    });
	    //关闭除当前之外的TAB
	    $('#mm-tabcloseother').click(function () {
	        var currtab_title = $('#mm').data("currtab");
	        $('.tabs-inner span').each(function (i, n) {
	            var t = $(n).text();
	            if (t != currtab_title)
	                $('#tabs').tabs('close', t);
	        });
	    });
	    //关闭当前右侧的TAB
	    $('#mm-tabcloseright').click(function () {
	        var nextall = $('.tabs-selected').nextAll();
	        if (nextall.length == 0) {
	            //msgShow('系统提示','后边没有啦~~','error');
	            alert('后边没有啦~~');
	            return false;
	        }
	        nextall.each(function (i, n) {
	            var t = $('a:eq(0) span', $(n)).text();
	            $('#tabs').tabs('close', t);
	        });
	        return false;
	    });
	    //关闭当前左侧的TAB
	    $('#mm-tabcloseleft').click(function () {
	        var prevall = $('.tabs-selected').prevAll();
	        if (prevall.length == 0) {
	            alert('到头了，前边没有啦~~');
	            return false;
	        }
	        prevall.each(function (i, n) {
	            var t = $('a:eq(0) span', $(n)).text();
	            $('#tabs').tabs('close', t);
	        });
	        return false;
	    });

	    //退出
	    $("#mm-exit").click(function () {
	        $('#mm').menu('hide');
	    })
	}
  //-->
    </script>

@MiniProfiler.RenderIncludes()

</body>
</html>
