@{
    Layout = null;
}

@using StackExchange.Profiling
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/index")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div >
        <div class="panel panel-default" >
            <div class="panel-body col-lg-pull-1" style="width: 20%; float: left; min-height: 750px;">
                <div style="float: left; width: 95%;"><ul id="tree" class="ztree" style="overflow: auto;"></ul>
                </div>
                <div style="float: right; width: 5px; background-color: red; height: 100%;">&nbsp;</div>
            </div>
            <div style="float: left; width: 80%; height: 30px;">&nbsp;</div>
            <div style="float: left; width: 80%; " id="mainPanle">
                <div id="tabs" id="tabs" class="easyui-tabs" fit="true" border="false" style="overflow: no-display; height: auto; min-height: 750px;">
                </div>

            </div>
        </div>
        <div style="clear: both;"></div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/index")

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadMenu","Home")',
            dataType: "json",
            success: function (data) {
                // 如果返回数据不为空，加载"业务模块"目录
                data = eval(data);
                if (data != null) {
                    // 将返回的数据赋给zTree
                    $.fn.zTree.init($("#tree"), setting, data);
                    var zTree = $.fn.zTree.getZTreeObj("tree");
                    zTree.selectNode(zTree.getNodeByParam("id", 101));
                }
            }
        });

    });
</script>

@MiniProfiler.RenderIncludes()

</body>
</html>
